@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Variables */ 
:root{
    --main-color: #161f48;
    --second-color: #b49b66;
    --background-color: #fff;
    --text-color: #02171d;
    --text-background-color: #ebeff2;

    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%)
}

/* Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
    background: transparent;
}

html::-webkit-scrollbar-track{
    background: var(--background-color);
    border-radius: 5rem;
}

img {
    width: 100%;
}

section {
    padding: 50px 100px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s linear;
}

.Logo{
    display: flex;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 400;
    column-gap: 0.2rem;
    color: var(--second-color);
}

/* Navigation Bar */

#menu-button, #close-button{
    font-size: 3rem;
    cursor: pointer;
    transition: all .55s ease;
}

#menu-button, #close-button:hover {
    transform: translateY(-5px);
}

.SideBar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 500px;
    background-color: var(--background-color);
    color: #b49b66;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    transition: left 0.5s ease;
    z-index: 1000;
}

.SideBar i{
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all .55s ease;
}

.SideBar i:hover{
    transform: translateY(-5px);
    box-shadow: var(--box-shadow);
    border-radius: 1rem ;
}

.SideBar li{
    top: 0rem;
    padding: 1rem 1.25rem;
    transition: all .55s ease;
}

.SideBar li:hover{
    top: -5px;
    transform: translateY(-5px);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem ;
}

.SideBar li a{
    font-size: 1.8rem;
    color: var(--second-color);
    display: flex;
    column-gap: 2.4rem;
    cursor: pointer;
}

.SideBar.open{
    left: 0;
}

@media (max-width: 768px) {
    .Sidebar {
        width: 200px; /* Narrower sidebar for smaller screens */
    }

    .Sidebar li a {
        font-size: 1rem; /* Adjust font size for better readability */
    }
}

@media (max-width: 480px) {
    .Sidebar {
        width: 150px;
    }

    .Sidebar li a {
        font-size: 0.9rem;
    }
}

.Quick-Tools i{
    font-size: 1.8rem;
    gap: 5.4rem;
    cursor: pointer;
    transition: all .55s ease;
}

.Quick-Tools i:hover{
    transform: translateY(-5px);
}

/* Search Box */
.search-box {
    position: absolute;
    top: 110%;
    right: -100%;
}

.search-box input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
}

.search-box.active {
    right: 1rem;
    transition: 0.2s;
}

.user{
    position: absolute;
    padding: 20px;
    left: -100%;
    top: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background: var(--box-shadow);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.user h2{
    font-size: 1.2rem;
    color: #b49b66;
}

.user .login-btn{
    background: var(--second-color);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 80%;
    cursor: pointer;
}

.user .login-btn:hover{
    background: var(--second-color);
    color: #fff;
}

.user input{
    border: none;
    outline: none;
    background: var(--text-background-color);
    padding: 10px;
    border-radius: 0.5rem;
    width: 90%;
}

.user p{
    font-size: 0.938rem;
    width:auto;
}

.user a{
    text-decoration: underline;
    color: var(--second-color);
}

.user.active{
    left: 1rem;
    transition: 0.2s;
}
